.box{
    display: flex;



}
.zoom{
    text-align: left;
    width: 80%;
    padding-top: 50px;
    padding-right: 5px;
 font-size: 40px;
 color: rgb(235, 12, 179);

}


.botton{
 padding-top: 45px;  
color: rgb(240, 9, 151);
}

.center{
    text-align: center;
    color: rgb(240, 9, 151);
    font-size: 40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.next{
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 20;
}

